<app-material-navigation></app-material-navigation>
<br>
<mat-card>
  <h1>Angular Material</h1>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Good explanation</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Made for mobile</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Animations -> better look and feel</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Pure css and doesn’t require any library to work</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Components can be used independently from each other, only styles for components that the app uses</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>SpecialComponents: slider, date picker, slide toggle, grid list, toolbar, snackbar, icon, stepper, sort header, chips, progress spinner</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Excellent choice when specifically developing Angular web app</p>
</mat-card>
<br>
<mat-card>
  <h1>Bootstrap</h1>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Good explanation</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Provides clear and readable UI</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Minimalistic design with soft colors, bold and big headlines, little or no animation</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>SpecialComponents: breadcrumb, collapse, carousel, alerts, scrollspy, popovers, jumbotron.</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>For a more general website and app development project.</p>
  <br>
  <p><mat-icon aria-hidden="false" class="red-icon">thumb_down</mat-icon>Big code with a lot of scripts -> performance</p>
  <p><mat-icon aria-hidden="false" class="red-icon">thumb_down</mat-icon>JQuery dependencies (Bootstrap 5 without JQuery, coming soon)</p>
</mat-card>
<br>
<mat-card>
  <h1>Ant Design</h1>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Good explanation</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>OpenSource</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Written in TypeScript</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>Internationalization</p>
  <p><mat-icon aria-hidden="false" class="green-icon">thumb_up</mat-icon>60+ Components out of the box</p>
  <br>
  <p><mat-icon aria-hidden="false" class="red-icon">thumb_down</mat-icon>Big code with a lot of script -> performance</p>
  <p><mat-icon aria-hidden="false" class="red-icon">thumb_down</mat-icon>Written in chinese</p>

</mat-card>
<br>
<div>
  <img class="images" src="assets/resources/img/angular-bootstrap-ant-comparison.jpg">
</div>

