
<div class="container">
<br>
<nz-radio-group [(ngModel)]="radioValue">
  <label nz-radio nzValue="A">A</label>
  <label nz-radio nzValue="B">B</label>
  <label nz-radio nzValue="C">C</label>
  <label nz-radio nzValue="D">D</label>
</nz-radio-group>
<br/>
<nz-radio-group [(ngModel)]="size">
  <label nz-radio-button nzValue="large">Large</label>
  <label nz-radio-button nzValue="default">Default</label>
  <label nz-radio-button nzValue="small">Small</label>
</nz-radio-group>
<br/>
<br/>
<button nz-button [nzSize]="size" nzType="primary">Primary</button>
<button nz-button [nzSize]="size" nzType="default">Default</button>
<button nz-button [nzSize]="size" nzType="dashed">Dashed</button>
<a nz-button [nzSize]="size" nzType="link">Link</a>
<br />
<button nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="download"></i></button>
<button nz-button nzType="primary" [nzSize]="size" nzShape="circle"><i nz-icon nzType="download"></i></button>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round"><i nz-icon nzType="download"></i></button>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round">
  <i nz-icon nzType="download"></i>
  Download
</button>
<button nz-button nzType="primary" [nzSize]="size">
  <i nz-icon nzType="download"></i>
  Download
</button>
<button nz-button nzType="primary" [nzSize]="size" (click)="showModal()">
  Speichern
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Wollen Sie wirklich Speichern?</p>
  </ng-container>
</nz-modal>
</div>
<br>
<div class="example-input">
  <input
    placeholder='try to type "b"'
    nz-input
    [(ngModel)]="inputValue"
    (ngModelChange)="onChange($event)"
    [nzAutocomplete]="auto"
  />
  <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
</div>
