<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialbuttons'">Buttons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialdatepicker'">Datepicker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialprogress'">Progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialtable'">Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialcheckbox'">Checkbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialmodal'">Modal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialsnackbar'">Snackbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/materialchips'">Chips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/material/frameworkcomparison'">Framework comparison</a>
      </li>
    </ul>
  </div>
</nav>


